 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://drive.google.com/uc?id=1nBVGAXZIqMtEZdhMqzRTic910L0NTxXw');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 814px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 161px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
  margin: 26px auto 60px;
  padding: 10px 63px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 221px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: -43px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 111px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 130px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: -29px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 80px;
  }
}
